<h2 class="sr-only">Artwork Frame</h2>
{% for art in art %}
    <a href="/artwork">Terug</a>
    <h2>{{ art.title }}</h2>
    {% if art.webImage %}
        <div class="fancy-border">
        <img class="art-on-wall" src="{{ art.webImage.url }}" alt="{{ art.title }}" width="300" />
        </div>
    {% endif %}
    <p class="maker-name"><b>Kunstenaar:</b> <i>{{ art.principalOrFirstMaker }}</i></p>
    <p class="year-released"><b>Jaar:</b>
        <i>
            {% assign parts = art.longTitle | split: ',' %}
            {{ parts | last | strip }}
        </i>
    </p>
    <a href="{{ art.links.web }}" target="_blank">Bekijk op Rijksmuseum.nl</a>
            <form method="POST" action="/details">
                <input type="hidden" name="objectNumber" value="{{ art.objectNumber }}">
                <button type="submit" class="like-button">
                <i class="fa-solid fa-heart heart-icon"></i>
                <i class="fa-solid fa-flag flag-icon" aria-hidden="true"></i>
                </button>
            </form>
{% endfor %}